{% extends 'new_Baseview.html.twig' %}

{% block title %}WUSN Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}


    <script src="https://code.highcharts.com/highcharts.js"></script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}

    <script type="text/javascript" src="{{ asset('JS/Graphs.js') }}"></script>
    <script >
        $(function(){
            dataAPICall();
            setInterval(dataAPICall, 10000);

            function dataAPICall() {
                dashboardCharts("{{ path('get_data') }}");
            }

        });

    </script>
{% endblock %}

{% block inner_body %}
    <div class="container">

        <section class="content-header">
            <h1>
                Data Analysis
                <small>all data from sensors</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="chart" >
                                {#<canvas id="container-line-chart-temp" style="height:250px"></canvas>#}
                                <div id="container-line-chart-temp" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <!-- DONUT CHART -->
                    <div class="box box-danger">
                        <div class="box-body" >
                            {#<canvas id="container-line-chart-vwc" style="height:250px"></canvas>#}
                            <div id="container-line-chart-vwc" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                        </div>

                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col (LEFT) -->
                <div class="col-md-6">
                    <!-- LINE CHART -->
                    <div class="box box-info">

                        <div class="box-body">
                            <div class="chart" >
                                {#<canvas id="container-line-chart-rssi" style="height:250px"></canvas>#}
                                <div id="container-line-chart-rssi" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <!-- BAR CHART -->
                    <div class="box box-success">

                        <div class="box-body">
                            <div class="chart" >
                                {#<canvas id="container-line-chart-lqi" style="height:230px"></canvas>#}
                                <div id="container-line-chart-lqi" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col (RIGHT) -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->

    </div>
{% endblock %}
